body {
    /*background-color: #d1eeff;*/
    background-image: url("images/wallpaper.jpg");
    background-size: 50%;
    font-family: 'Open Sans', serif;
    font-size: 11pt;
    display: flex;
}

#content {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 2em;
}

#background {

    /* positioning and sizing */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;

}

#background.shown {
    opacity: 1;
}

#inner-col {
    max-width: 42em;
}

.bubble {
    margin-bottom: 1.0em;
    padding: 1.5em;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow-wrap: break-word;
}

h1, h2, h3 {
    font-family: monospace;
}

h1 {
    margin-top: 1.0em;
    margin-bottom: 0.4em;
    font-size: 1.8em;
}

#copyright {
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.5);
}

a {
    color: #2bc2ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #a3a3a3;
}

.bubble img {
    display: block;
    max-width: 100%;
    margin: 2.0em auto;
}

.blurb {
    background-color: rgba(83, 207, 93, 10%);
    border-left: 2px solid #53cf5d;
    padding: 0.7em;
    margin: 1.0em 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 0.7em;
}


.blurb div:first-child {
    align-items: center;
    margin-right: 1.0em;
    flex-shrink: 0;
}

/* christmas !! */
.blurb {
    border-left: 2px solid #cf5353;
    background-color: rgba(207, 83, 83, 40%);
}

.blurb img {
    width: 3.0em;
    height: auto;
}

#eternal-september {
    float: right;
}

#links {
    text-align: center;
    font-size: 12pt;
}

#links a {
    color: #000;
    text-decoration: underline;
}

#links a:hover {
    color: #777;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 0.5em 1.5em;
}

tr:not(:last-child) td {
    border-bottom: 1px solid #ccc;
}

th {
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

td:first-child { 
    text-align: left;
}

#pronouns {
    font-size: 80%;
}

.blob {

    display: flex;
    flex-direction: row;
    gap: 0.7em;
    padding: 0.7em;
    margin: 1em 0;
    margin-top: 0;

    background-color: rgba(0,0,0,70%);
    color: white;

}

.blob > img {
    height: 4em;
    max-width: initial;
    margin: initial;
    border-radius: 3px;
}

.blob > div {
    margin: auto;
    text-align: center;
}

#song-name {
    font-weight: bold;
    color: white;
}

#side-col {
    max-width: 18em;
    flex-grow: 1;
}

@media (max-width: 700px) {
    #content {
        flex-direction: column;
    }

    #side-col {
        max-width: 100%;
        order: 0;
    }

    #inner-col {
        order: 1;
    }

    #side-col h1 {
        display: none;
    }

}

/* not used on main page, but the auxiliary indexes still use this class */
#vertical-container {
    margin: auto;
}