body {
    background-color: #e6e6e6;
}

#vertical-container {
    font-family: 'Open Sans', serif;
    max-width: 42em;
    margin: auto;
    margin-top: 3.0em;
}

#inner-col {
    margin: 0 1.0em;
}

.bubble {
    margin-bottom: 1.0em;
    border-radius: 5px;
    padding: 1.5em;
    background-color: #ffffff;
    font-size: 11pt;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 30%);
    overflow-wrap: break-word;
}

#misc-block {
    text-align: justify;
    text-justify: inter-word;
}

h1, h2, h3 {
    font-family: monospace;
}

h1 {
    margin-top: 1.0em;
    margin-bottom: 0.4em;
}

#copyright {
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.5);
}

a {
    color: #2bc2ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #a3a3a3;
}

.bubble img {
    display: block;
    max-width: 100%;
    margin: 2.0em auto;
}

.blurb {
    background-color: rgba(83, 207, 93, 10%);
    border-left: 2px solid #53cf5d;
    padding: 0.5em 1.0em;
}

#misc-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1.0em;
}

#misc-box p {
    margin-bottom: 0;
}

#misc-box .bubble span:first-child {
    font-weight: bold;
    font-size: 9pt;
    margin: 0.5em 0;
    line-height: 11pt;
}

.demo {
    color: #ff8d54;
}

.tool {
    color: #54b5ff;
}

.game {
    color: #b254ff;
}

.misc {
    color: #c7c7c7;
}

@media (max-width: 600px) {
    #misc-box {
        grid-template-columns: auto;
    }
}

#misc-box .bubble {
    margin: 0;
}

#misc-box a {
    font-weight: bold;
}