body {
    max-width: 45em;
    margin: auto;
    padding: 1.0em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.footnote {
    font-size: 0.9em;
    margin: 0;
    color: #888888;
}

.footnote a {
    color: inherit;
}

h1 {
    margin-bottom: 0.3em;
}

.button1 {
    width: 15em;
    border: none;
    border-radius: 5px;
    background-color: #0000ff;
    padding: 1.0em;
    font-family: inherit;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1.0em;
    margin-right: 1.0em;
    font-weight: bold;
}

.button1:hover {
    color: #dddddd;
}

a {
    color: #2bc2ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #a3a3a3;
}

.box {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin: 1.0em 0;
    padding: 1.0em;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid #aaaaaa;
    padding: 1.0em;
    font-weight: bold;
}

.inline-table, .inline-table td {
    border-collapse: collapse;
    margin: 1.0em 0;
}

.inline-table td {
    border: 1px solid #aaaaaa;
    padding: 1.0em;
}

.inline-table td:first-child {
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 20em;
    overflow: scroll;
}