/* -------- PAGE ELEMENTS -------- */
body {
    max-width: 45em;
    margin: auto;
    padding: 1.0em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.footnote {
    font-size: 0.9em;
    margin: 0;
    color: #888888;
}

.footnote a {
    color: inherit;
}

h1 {
    margin-bottom: 0;
    font-weight: 500;
}

h1 + p {
    margin-top: 0.5em;
}

a {
    color: #2bc2ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #a3a3a3;
}

textarea {
    width: 100%;
    height: 20em;
    overflow: scroll;
}

/* -------- UTILITY CLASSES -------- */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.button1 {
    width: 15em;
    border: none;
    border-radius: 5px;
    background-color: #0000ff;
    padding: 1.0em;
    font-family: inherit;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1.0em;
    margin-right: 1.0em;
    font-weight: bold;
}

.button1:hover {
    color: #dddddd;
}

.box {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin: 1.0em 0;
    padding: 1.0em;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid #aaaaaa;
    padding: 1.0em;
    font-weight: bold;
}

.inline-table, .inline-table td {
    border-collapse: collapse;
    margin: 1.0em 0;
}

.inline-table th, .inline-table td {
    border: 1px solid #aaaaaa;
    padding: 0.5em;
}

.inline-table td:first-child {
    font-weight: bold;
}

.search > * {
    height: 2.5em;
    margin-right: 0.5em;
}

.search > *:last-child {
    margin-right: 0;
}

.search input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    font-family: monospace;
    font-size: inherit;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding-left: 0.5em;
}